<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swt.jxproject.mapper.Yjs_jingqingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swt.jxproject.entity.Yjs_jingqing">
        <id column="jq_id" property="jq_id" />
        <result column="user_id" property="user_id" />
        <result column="epy_id" property="epy_id" />
        <result column="JQBH" property="JQBH" />
        <result column="status" property="status" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="address" property="address" />
        <result column="bruise" property="bruise" />
        <result column="car_num" property="car_num" />
        <result column="weather" property="weather" />
        <result column="flag" property="flag" />
        <result column="update_time" property="update_time" />
        <result column="create_time" property="create_time" />
    </resultMap>

</mapper>
